*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "poppins", sans-serif;
    background-color: #f4f7fa;
    color: #222;
    line-height: 1.6;
} 
header{
    background: #14213d;
    color: #fff;
    text-align: center;
    padding: 20px;
}
header h1{
    margin-bottom: 5px;
}
nav{
    background-color: white;
    text-align: center;
    padding: 10px;
}
nav a{
    text-decoration: none;
    color: black;
    margin: 10px;
}
.hero{
    background-color: white;
    text-align: center;
    padding: 40px;
}
#about{
    background-color: #e6e6e6;
    text-align: center;
    padding: 30px;
}
.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
#projects{
    background-color: white;
    text-align: center;
    padding: 30px;
}
#contact{
    background-color: #e6e6e6;
    text-align: center;
    padding: 30px;
}
input, textarea{
    width: 60%;
    padding: 5px;
    margin: 5px;

}
button{
    background-color: navy;
    color: white;
    padding: 8px 15px;
    border: none;
    margin-top: 10px;
    display: block;
}
#topBtn{
    background-color: gray;
    color: gray;
    border: none;
    padding: 10px;
}
#skills{
    background-color: white;
    text-align: center;
    padding: 30px;
}
table{
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;

}
th,td{
    border: 1px solid black;
    padding: 8px 15px;
    text-align: center;

}
th{
    background-color: gray;

}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
